---
layout: page
title: CoViD-19 Resources
---
<article>
  <h1>Housing Information in Response to CoViD-19</h1>
  <p class="date">Updated March 27th, 2020</p>

  <h2>Evictions/Eviction Prevention</h2>
  <p class="date">Updated March 26th, 2020</p>

  <!-- <p>
    For "cases scheduled from March 17, 2020 through April 14, 2020": Execution of Orders for eviction or possession of residential properties in Allegheny County are stayed.
    <br>
    Please read the <a target="_blank" href="https://www.alleghenycourts.us/downloads/Administration/Covid_19Plan.pdf">Order of Court</a> for full information.<br>
    Updated Mar 26th, 2020: <a target="_blank" href="https://www.alleghenycourts.us/downloads/Administration/Covid_19Plan.pdf">Order of Court</a>
  </p> -->

  <p>
    The Urban League of Pittsburgh Rental Assistance
    <br>
    Please see <a target="_blank" href="http://ulpgh.org/programs/housing/rental-assistance/">Urban League</a> for full information.
  </p>

  <p>
    Multiple <a href="#mutual-aid">Mutual Aid</a> efforts, including money distributions for many purposes, including housing.
  </p>

  <h2>Landlords: Mortgages</h2>

  <p>
    There are options for help with your mortgage, whether you are a landlord or a homeowner. But, YOU MUST CONTACT YOUR MORTGAGE SERVICER to get this assistance.
  </p>
  <p>
    If you have tried to reach your mortgage servicer, please <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdzpDxfolux0BbrOPJg-0vlqTsLHgE8rbV-CWCiwD9EZbGmhQ/viewform">Fill out this survey from Community Legal Services</a>.
  </p>

  <p>
    According to <a target="_blank" href="">this article</a> Federal regulators are ordering lenders provide flexibility on mortgages if those mortgages are backed by Fannie Mae, or Freddie Mac. You can check if your mortgage is backed by either of these lenders below:<br>
    <a target="_blank" href="https://www.knowyouroptions.com/loanlookup">Fannie Mae Backed Mortgage Checker Tool</a><br>
    <a target="_blank" href="https://ww3.freddiemac.com/loanlookup/">Freddie Mac Backed Mortgage Checker Tool</a>
  </p>

  <p>
    Other mortgage providers are also offering mortgage assistance. See <a target="_blank" href="https://docs.google.com/spreadsheets/d/1E5B86ysbeUOXP4qd998VqWhLclwYoC7HrBsPnQs15OI/edit#gid=0">Mortgage Servicers COVID-19</a><br>
    Additionally, these mortgage servicers are providing this information about their covid-19 resources/assistance:<br>

    - <a target="_blank" href="https://www.dollar.bank/covid19financialassistance">Dollar Bank</a><br>
    - <a target="_blank" href="https://www.fcbanking.com/why-us/contact-us/coronavirus-update/">First Commonwealth Bank</a><br>
    - <a target="_blank" href="https://www.fnb-online.com/covid-19-resources">First National Bank</a><br>
    - <a target="_blank" href="https://www.key.com/personal/loans-lines/borrower-assistance.jsp">KeyBank</a><br>
    - <a target="_blank" href="https://www.northwest.bank/coronavirus-readiness">Northwest Savings Bank</a><br>
    - <a target="_blank" href="https://www.pnc.com/en/customer-service/coronavirus-update.html">PNC Bank</a><br>
    - <a target="_blank" href="https://www.stbank.com/landing/update">S & T Bank</a><br>
    - <a target="_blank" href="https://www.standardbankpa.com/coronavirus-and-our-dedication-to-you/ ">Standard Bank</a><br>
    - <a target="_blank" href="https://www.wesbanco.com/coronavirus/">WesBanco Bank</a><br>
  </p>

  <p>
    Additional information:<br>
    - <a target="_blank" href="https://www.nhlp.org/wp-content/uploads/foreclosure-protection-CARES-Act.pdf">National Housing Law Project, Foreclosure Protection and Mortgage Payment Relief For Homeowners</a>
  </p>

  <h2>Utilities</h2>

  <p>
    Duquesne light "will discontinue any service shut off activities through at least May 1, 2020" -
    <a target="_blank" href="https://newsroom.duquesnelight.com/a-message-to-our-customers-from-chief-customer-office-david-johnson-about-covid-19#">Source</a>
  </p>

  <p>
    "PWSA is extending the Authority’s Shut Off Moratorium until May 31 and waiving the income qualification criteria to ensure that no customer is without water service during the pandemic." -
    <a target="_blank" href="https://www.pgh2o.com/news-events/news/press-release/2020-03-13-pwsa-extends-expands-shut-moratorium-response-covid-19">Source</a>
  </p>

  <p>
    Heating assistance through LIHEAP (Low Income Home Energy Assistance Program): <a target="_blank" href="https://www.dhs.pa.gov/Services/Assistance/Pages/LIHEAP.aspx">Link</a>
  </p>

  <h2>Internet</h2>

  <p>
    Verizon and Comcast pledge not to shut off internet for the next 60 days (from March 13th), Verizon commits to waiving late fees -
    <a target="_blank" href="https://lowincomerelief.com/comcast-verizon-more-will-not-shut-off-service-during-covid-19-full-list/">Source</a>
  </p>

  <p>
    Comcast giving 60 days of free "Internet Essentials" level service (normally $9.95) to new customers who would qualify for public assistance programs like "National School Lunch program, Medicaid or SNAP" -
    <a target="_blank" href="https://www.pennlive.com/news/2020/03/comcast-offers-2-months-of-free-internet-to-low-income-customers.html?fbclid=IwAR3mhQG3pvv0Y6_v0bUB07zgZPBQ_RILsYpzmYPnyE4iWXKn6zbtVSYsSCk">Source</a>
  </p>

  <h2 id="mutual-aid">Mutual Aid/Housing/Storage</h2>

  <p>
    Pittsburgh Mutual Aid: Resource Library - <a target="_blank" href="http://pittsburghmutualaid.com">PittsburghMutualAid.com</a><br>
    Spreadsheet with information on: Needs, Food/Comida, Errands/Groceries & Rides // Diligencias, Health // Salud, Financial // Dinero, Child/Elder Care // Cuidado, Mental Health // Salud Mental, Housing // Alojamiento, Storage // Almacenamiento, Internet, Other Resources // Otros Recursos <br>
    To offer a resource or request help <a target="_blank" href="http://form.pittsburghmutualaid.com">fill out the form.</a>
  </p>

  <p>
    Pittsburgh Student Aid Spreadsheet, has Housing, Storage tabs, among others -
    <a target="_blank" href="https://docs.google.com/spreadsheets/d/1M5AsXP15FEeLNLj3s2oV38hO-TCpl2-eut6aue8KuF4/edit#gid=771675228">Google Sheet</a>
  </p>

  <h2>Storage and Housing for Students</h2>

  <p>
    U-Haul offering 30 days free self-storage for college students impacted -
    <a target="_blank" href="https://www.uhaul.com/Articles/About/20625/College-Students-U-Haul-Offers-30-Days-Free-Self-Storage-amid-Coronavirus-Outbreak/">Source</a>
  </p>

  <p>
    Pitt Mutual aid team has set up a system for people to house students or their belongings for a short time. If you are a student who needs help or if you can help, sign up here: <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdQmEVGBr7TadZTLehFNdOB1Cnxn_u833GQLyX8-z0g6c5fEA/viewform?fbclid=IwAR2NKvVKccUPFTj1AnREaNQwhm-Pqr3wYCRE5NeYhNz98Nks6XcRZ5O98IM">Google Form</a>
  </p>

  <h2>Loans</h2>

  <p>
    Hebrew Free Loan Association Pittsburgh offering interest free loans for those affected -
    <a target="_blank" href="http://hflapgh.org/hfl-unveils-loan-program-to-address-financial-impact-of-covid-19-pandemic/">Source</a>
  </p>

  <h2>Submit Resources</h2>

  <p>
    Know of more resources? Contact us as <a href="mailto:gazepgh+covid19@gmail.com">gazepgh+covid19@gmail.com</a>, or submit an issue <a target="_blank" href="https://gitlab.com/gazedev/site-pittsburghhousing/-/issues/new">at our Gitlab</a>
  </p>

  <h2>Misc Resources</h2>

  <p>
    Rental and housing assistance programs in Pennsylvania: <a target="_blank" href="https://www.needhelppayingbills.com/html/pennsylvania_rental_assistance.html">Link</a>
  </p>

  <p>
    Google doc with other CoViD-19 Resources for Pittsburgh, Pa area: <a target="_blank" href="https://docs.google.com/document/d/1oL6ju8kEQd_cWltkufZvVq1tMGetsY92ZVDzlwPa35I/">Link</a>
  </p>

</article>
