---
layout: page
---
<section id="welcome">
  <h2>Welcome To</h2>
  <h1>Pittsburgh Housing</h1>

  <div id="welcome-content">
    <img src="/assets/Abbie Adams Fifth Ave. Pittsburgh House Drawing.png" alt="Fifth Ave. Pittsburgh House Drawing">
    <div id="welcome-text-action-container">
      <div id="welcome-text">
        <h2>The Pittsburgh Housing App</h2>
        <p>The Pittsburgh Housing App is a tool to improve rental housing in Allegheny County. We provide listings, ratings, and reviews of properties and landlords.</p>
        <p>Help us today by leaving a review of a landlord or property!</p>
      </div>
      <div id="home-actions">
        <p id="welcome-action-main">
          <a class="button" href="https://app.PittsburghHousing.org/reviews/add">Add A Review!</a>
        </p>
        <div class="sub-actions">
          <p class="welcome-action-sub">
            <a class="button" href="https://app.PittsburghHousing.org/properties" id="properties-btn">Properties</a>
          </p>
          <p class="welcome-action-sub">
            <a class="button" href="https://app.PittsburghHousing.org/landlords" id="landlords-btn">Landlords</a>
          </p>
          <p class="welcome-action-sub">
            <a class="button" href="https://app.PittsburghHousing.org/" id="app-home-btn">App Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="what-is-this">
  <h2>What is Pittsburgh Housing?</h2>

  <p>
    Pittsburgh Housing is a community run project on a mission to improve rental housing in Allegheny County. We provide resources and tools that empower renters to find the best housing situation for them. We are working to improve rental housing in a few ways:
  </p>

  <ul>
    <li><a href="https://app.pittsburghhousing.org">The Pittsburgh Housing App</a> acts as a directory, providing listing, ratings, and reviews of rental properties and landlords. Renters can read and post reviews of properties and landlords. Landlords can list their rental properties, contact information, and link to their own site, so renters can easily find them.</li>
    <li><a href="https://facebook.com/groups/PittsburghHousing" target="_blank" rel="noopener noreferrer">The Facebook group</a> helps landlords, tenants, and subletters connect with each other.</li>
    <li><a href="/resources">The Resource Page</a> has resources of all things related to the rental process.</li>
  </ul>

  <p>
    Learn more about Pittsburgh Housing on our <a href="/about-us">About us</a> page.
  </p>

</section>

<section id="help-us-help-you">
  <h2>Help Us Help You</h2>

  <p>
    Pittsburgh Housing is powered by open source and the community. Since we are <a href="https://opensource.com/resources/what-open-source" target="_blank" rel="noopener noreferrer">open source</a>, anyone can help develop our software, but there are also plenty of non technical things that people can help with. There are a lot of ways to help make Pittsburgh Housing better, like working with us on what to build next, testing the tools we build, and sharing Pittsburgh Housing with others.
  </p>

  <p>
    If you’d like to get involved or learn more, send us an email: <a href="mailto:contact@pittsburghhousing.org">contact@pittsburghhousing.org</a>
  </p>

</section>

<section id="partner-with-us">
  <h2>Partner With Us</h2>

  <p>
    To further the mission of improving rental housing in Allegheny County, Pittsburgh Housing is seeking partnerships with local non-profits and other organizations. To get in contact, send us an email: <a href="mailto:contact@pittsburghhousing.org">contact@pittsburghhousing.org</a>
  </p>

</section>

<section id="partner-with-us">
  <h2>Share</h2>

  <p>
    Pittsburgh Housing is a community project, so tell your community about us. Share our website with friends and family you care about.
  </p>

  <div class="copy-url" onfocusout="tooltipUnfocus()">
    <input id="site-url" type="text" value="https://PittsburghHousing.org" readonly>
    <div class="copy-url-interactive">
      <button type="button" onclick="copyLink()">Copy Link</button>
      <span class="tooltip-text" id="tooltip-text">Copy to clipboard</span>
    </div>
    <noscript>
      <p>Select and copy the text and send it to someone you know.</p>
      <style>
        .copy-url-interactive {
          display: none;
        }
      </style>
    </noscript>
  </div>
  <script>
  function copyLink() {
    /* Get the text field */
    var copyText = document.getElementById("site-url");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    var tooltip = document.getElementById("tooltip-text");
    tooltip.innerText = "Copied!";
  }

  function tooltipUnfocus() {
    console.log('unfocus called');
    var tooltip = document.getElementById("tooltip-text");
    tooltip.innerHTML = "Copy to clipboard";
    console.log(tooltip.innerText);
  }
  </script>

</section>
