---
layout: page
title: Services We Use
---
<article>
  <h1>Services We Use</h1>
  <p class="date">Updated March 22nd, 2020</p>

  <p>We want to be clear about how we've built this site and what services we are interacting with, so you know how your data is being used. Below is a list of services we use, and a brief description of why/how we use them. We will attempt to keep this list up to date, but&nbsp;feel free to reach out to us at <a href="mailto:serviceinquiry@pittsburghhousing.org">our service inquiry email address</a> if you have any questions,&nbsp;concerns, or believe there are other services that need to be added.</p>

  <h2>GitHub - https://github.com</h2>

  <p>We use GitHub as a host for our open source code. You can view our repos at <a target="_blank" href="https://github.com/GazeDev">GitHub/GazeDev</a>.</p>

  <h2>GitLab - https://gitlab.com</h2>

  <p>We use GitLub as a backup host for our open source code and to run testing and deployment for our repos. You can view our repos at <a target="_blank" href="https://gitlab.com/GazeDev">GitLab/GazeDev</a>.</p>

  <h2>Heroku - https://heroku.com</h2>

  <p>We use Heroku to host our pittbsurgh housing api. This allows us to quickly and easily iterate our api and deploy it to hosting</p>

  <h2>Digital Ocean - https://digitalocean.com</h2>

  <p>We use Digital Ocean to host our pittsburgh geocoding api, and our accounts servers. Digital Ocean VPS droplets let us carefully manage our digital services with the appropriate resources and configuration</p>

  <h2>Netlify - https://netlify.com</h2>

  <p>We use Netlify to host our front-end apps, and our static websites. It makes it easy, cheap, and reliable to keep our sites fast and up to date</p>

  <h2>Mailgun - https://www.mailgun.com/</h2>

  <p>We use Mailgun to reliably send emails from the site to our users. Because we use them to send emails from the site, any information in emails from the site may be known by the mailgun service.</p>

</article>
