---
siteSuffix: Pittsburgh Housing | Rental resources for Allegheny County
eleventyNavigation:
  key: appMenu
---
<!doctype html>
<html lang="en">
  <head>
    <title>
    {% if title %}
      {{ title }} -
    {% endif %}
    {{ siteSuffix }}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/assets/pittsburgh-housing-logo.png">
    <script async defer data-domain="pittsburghhousing.org" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>

    <header id="top">
      <a href="/" class="home">
        <img class="logo" alt="Nav Home" src="/assets/pittsburgh-housing-logo.png" />
        <h1 class="title">Pittsburgh Housing</h1>
      </a>
      <nav aria-label="Main Navigation">
        <ul>
          <li><a class="login" href="https://app.pittsburghhousing.org">Log in/Sign up</a></li>
          <li><a href="/resources">Resources</a></li>
          <li>
            <details class="app-switcher">
              <summary aria-haspopup="true" role="button" title="Open App Menu">
                Open App Menu
              </summary>

              {% macro renderNavListItem(entry) -%}
              <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
                <a href="{{ entry.url | url }}">{{ entry.text }}</a>
              {%- if entry.children.length -%}
                <ul>
                  {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
                </ul>
              {%- endif -%}
              </li>
              {%- endmacro %}

              <ul class="dropdown">
                {%- for entry in appMenu %}{{ renderNavListItem(entry) }}{%- endfor -%}
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </header>

    <main id="main">
      {{ content | safe }}
    </main>

    <footer>
      <nav>
        <a target="_blank" href="https://gaze.dev">Gaze.Dev</a>
        <a taget="_blank" href="https://opencollective.com/housingdb">Open Collective</a>
        <a href="mailto:contact@pittsburghhousing.org">Contact Us</a>
        <a href="/services-we-use">Services We Use</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-of-use">Terms of Use</a>
      </nav>
    </footer>

    <div class="scroll-container">
      <div class="scroll-container-wrapper">
        <a href="#top" title="Top">
          ↑
        </a>
      </div>
    </div>

  </body>
</html>
