.mat-toolbar.mat-primary {
  background-color: #241023;
}

.mat-toolbar.mat-primary .account-nav {
  padding-right: 0;
}

.mat-toolbar.primary-toolbar .mat-toolbar-row {
  height: 76px;
}

.mat-toolbar.mat-primary a.home .mat-button-wrapper .app-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.app-switcher {
  height: 2rem;
  margin-right: .25rem;
  margin-left: .25rem;
}

.app-switcher .dropdown {
  min-width: 8rem;
  background-color: #241023;
}

.app-switcher .dropdown a {
  text-decoration: none;
  display: block;
  line-height: 1.25;
  margin: .5rem;
  border-bottom: .125rem solid transparent;
}

.app-switcher .dropdown a:hover,
.app-switcher .dropdown a:active,
.app-switcher .dropdown a:focus {
  border-bottom-color: white;
}

mat-toolbar.page-info {
  background-color: #5E3345;
  color: white;
}

mat-toolbar.page-info mat-toolbar-row.breadcrumbs {
  background-color: #24102387;
}

mat-toolbar.page-info .mat-toolbar-row.breadcrumbs a {
  color: inherit;
}

mat-toolbar.page-info mat-toolbar-row.title {
  color: #000;
}

.mat-app-background,
.mat-drawer-container {
  background-color: #e9e9e9;
  color: #140914;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  background-color: white;
  color: #140914;
}

.mat-card {
  background-color: white;
  color: #140914;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background: #FAA300;
  color: #000;
}

@media (max-width: 45rem) {
  .primary-toolbar .account-nav > button {
    display: none;
  }
}

@media (max-width: 33rem) {
  .mat-toolbar.mat-primary a.home .mat-button-wrapper .app-name {
    display: none;
  }

  .mat-toolbar.mat-primary .account-nav,
  .primary-toolbar[_ngcontent-c0] .account-nav[_ngcontent-c0] {
    margin-left: 0;
  }

  .mat-toolbar.primary-toolbar .mat-toolbar-row {
    justify-content: space-between;
  }
}
