.app-dark .mat-toolbar.mat-primary,
.mat-toolbar.mat-primary {
  background-color: #7d5437;
}

.mat-toolbar.mat-primary a.home .mat-button-wrapper .app-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.app-switcher {
  height: 2rem;
  margin-right: .25rem;
  margin-left: .25rem;
}

.app-switcher .dropdown {
  min-width: 8rem;
  background-color: #7d5437;
}

.app-switcher .dropdown a {
  text-decoration: none;
  display: block;
  line-height: 1.25;
  margin: .5rem;
  border-bottom: .125rem solid transparent;
  color: inherit !important; /* done to override angular app-dark link not button specificity */
}

.app-switcher .dropdown a:hover,
.app-switcher .dropdown a:active,
.app-switcher .dropdown a:focus {
  border-bottom-color: white;
}

@media (max-width: 63rem) {
  .primary-toolbar .account-nav > button {
    display: none;
  }
}

@media (max-width: 51rem) {
  .mat-toolbar.mat-primary a.home .mat-button-wrapper .app-name {
    display: none;
  }

  .mat-toolbar.mat-primary .account-nav,
  .primary-toolbar[_ngcontent-c0] .account-nav[_ngcontent-c0] {
    margin-left: 0;
  }

  .mat-toolbar.primary-toolbar .mat-toolbar-row {
    justify-content: space-between;
  }
}
