@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  max-width: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  background-color: #F1F1F1;
  color: #000;
}

a:link {
  color: inherit;
  text-decoration: none;
  border-bottom: .125rem solid #17beeb;
}

a:visited {
  color: inherit;
  border-bottom-color: #5b2f43;
}

a:hover,
a:active,
a:focus {
  color: #15b1db;
  border-bottom: .125rem solid transparent;
}

a:visited:hover,
a:visited:active,
a:visited:focus {
  color: #5b2f43;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 60rem;
  margin: 0;
  margin: auto;
}

main,
footer {
  padding-bottom: 4rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .25rem;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-color: #241023;
  color: #F1F1F1;
  text-align: center;
  /* display: block;
  flex-direction: column;
  align-items: center; */
  position: -webkit-sticky;
  margin-bottom: 2rem;
}

header > nav {
  position: relative;
  margin-left: auto;
}

header > a,
header > nav,
header > nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul li:marker {
  display: none;
}

header > nav > ul > li {
  margin-left: .25rem;
  margin-right: .25rem;
}

header nav a {
  display: block;
}

header nav a.login {
  position: relative;
}

header nav a.login:before {
  content: "";
  border: .175rem solid #FAA300;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: -.5rem;
  border-radius: .25rem;
}

.app-switcher {
  padding: .25rem;
  margin-left: 0;
  margin-right: 0;
  height: 2rem;
  position: relative;
  top: -1px;
  border-bottom: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill-opacity="0.0"/><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z" fill="%23f1f1f1"/></svg>');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: auto;
}

header nav .dropdown {
  min-width: 6rem;
  display: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  padding-top: 1rem;
  margin-top: 0;
  padding-bottom: 1rem;
  background-color: #241023;
}

.app-switcher summary {
  border-bottom: transparent !important;
  text-indent: -9999px;
  overflow: hidden;
  width: 4rem;
  height: 1.5rem;
  cursor: pointer;
}

.app-switcher[open] .dropdown {
  display: block;
}

/* header nav li:hover .dropdown,
header nav .dropdown:target {
  display: block;
}

.close-app-switcher {
  height: 0px;
  text-indent: -9999px;
}

.close-app-switcher:focus,
.close-app-switcher:focus-within {
  height: auto;
  text-indent: 0;
} */

.app-switcher .dropdown {
  right: 0;
  text-align: left;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-right: -.25rem;
}

.dropdown li {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.dropdown ul {
  margin-left: .5rem;
}

/* header > a:visited {
  outline: 0;
} */

header .logo {
  display: block;
  height: auto;
  width: 3rem;
  max-width: 100%;
}

header h1 {
  font-size: 1.5rem;
  padding: .25rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: .25rem;
  margin-bottom: 2rem;
} */

/* header a:visited {
  color: #F1F1F1;
} */

header a:link {
  color: inherit;
  border-bottom-color: transparent;
  margin: .5rem;
}

header nav a:hover,
header nav a:active,
header nav a:focus {
  color: inherit;
  border-bottom: .125rem solid white;
}

header a:visited:hover,
header a:visited:active,
header a:visited:focus {
  color: inherit;
}

footer {
  color: #f1f1f1;
}
footer a:link {
  color: inherit;
  border-bottom-color: transparent;
  margin: .5rem;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: inherit;
  border-bottom: .125rem solid white;
}

footer a:visited:hover,
footer a:visited:active,
footer a:visited:focus {
  color: inherit;
}

.scroll-container-wrapper {
  color: #f1f1f1;
}

.scroll-container-wrapper a {
  border-bottom: 0;
}

.scroll-container-wrapper a:focus,
.scroll-container-wrapper a:hover,
.scroll-container-wrapper a:active {
  color: inherit;
}

.scroll-container-wrapper a:visited:hover,
.scroll-container-wrapper a:visited:focus,
.scroll-container-wrapper a:visited:active {
  color: inherit;
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1.2rem;
}

section {
  /*background-color: rgba(22, 21, 21, 0.85);*/
  /*color: #fff;*/
  padding-bottom:.01rem;
  margin-bottom: 2rem;
  border: .125rem solid rgba(0,0,0,0);
  border-top: 0;
  display: flex;
  flex-direction: column;
}

section:target {
  border-color: rgba(247, 219, 7, 1);
}

section h1 {
  /*font-family: 'KellySlab', Arial, sans-serif;*/
  /* font-weight: normal; */
  font-size: 2.5rem;
  position: relative;
  /*background-color: rgba(247, 219, 7, 1);*/
  /*color: #000;*/
  /* padding: .25rem;
  padding-left: 1.25rem; */
  margin-top: 0;
  align-self: center;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
section p {
  /* margin-left: 1rem;
  margin-right: 1rem; */
}

main ul li {
  line-height: 1.5rem;
  margin-bottom: .5rem;
}

button,
a.button {
    border: none;
    border-radius: .25rem;
    /* padding: 1rem 2rem; */
    padding: 1rem;
    display: block;
    /* margin-bottom: 2rem; */
    text-decoration: none;
    background: #FAA300;
    color:  #000;
    /* font-family: Ro; */
    font-size: 1.5rem;
    line-height: 1;
    width: 25rem;
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus,
a.button:hover,
a.button:focus {
  color: #000;
  background: #DB930E;
}

button:focus,
a.button:focus {
  /* outline: .25rem solid #FFF; */
  /* outline-offset: -.25rem; */
}

button:active,
a.button:active {
    transform: scale(0.99);
}

footer {
  padding: 2rem;
  background-color: #140914;
  text-align: center;
}

footer a {
  display: inline-block;
  margin: .5rem;
}

.scroll-container {
  display: flex;
  position: absolute;
  right: 0;
  top: 100vh;
  bottom: 0;
  width: 4rem;
  overflow: visible;
}

.scroll-container-wrapper {
  align-self: flex-end;
  position: sticky;
  bottom: 1rem;
  background-color: rgba(0,0,0, .8);
}

.scroll-container-wrapper a {
  color: #fff;
  display:block;
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  text-align: center;
  font-size: 3rem;
}

.copy-url {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
}

.copy-url input {
  padding: .5rem;
  font-size: 1rem;
}

.copy-url .copy-url-interactive {
  position: relative;
}

.copy-url button {
  width: auto;
  display: inline;
  margin-bottom: 0;
}

.copy-url .tooltip-text {
  display: none;
  position: absolute;
  padding: 1rem;
  border-radius: .25rem;
  bottom: 100%;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  background-color: #140914;
  color: #fff;
}

.copy-url .tooltip-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -.5rem;
  border: .5rem solid;
  border-color: transparent;
  border-top-color: #140914;
}

.copy-url:hover .tooltip-text,
.copy-url:focus-within .tooltip-text
 {
  display: block;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome h2 {
  margin: 0;
}
#welcome-content {
  display: flex;
  flex-direction: row;
}

#welcome-content img {
  margin: 1rem -1rem;
  object-fit: cover;
  width: 30rem;
  height: 100%;
}

#welcome-text-action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
  max-width: 25rem;
}

#welcome-action-main {
  margin: 0;
  margin-bottom: 1rem;
}

.sub-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.welcome-action-sub{
  width: 30%;
  margin: 0;
}

.welcome-action-sub .button{
  font-size: 1.1rem;
  background: #e3e3e3;
}

.welcome-action-sub .button:hover,
.welcome-action-sub .button:focus {
  background: #cfcfcf;
}

@media screen and (max-width: 60rem) {
  #welcome-content {
    flex-direction: column;
    align-items: center;
  }
}